<?xml version='1.0' encoding='UTF-8'?>

<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
    
    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <!-- Faces Servlet Mapping -->
    <!-- 

         This mapping identifies a jsp page as having JSF content.  If a
         request comes to the server for foo.faces, the container will
         send the request to the FacesServlet, which will expect a
         corresponding foo.jsp page to exist containing the content.

    -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>

    <filter>
      <filter-name>extensionsFilter</filter-name>
      <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
      <init-param>
        <description>Set the size limit for uploaded files. 
           Format: 10 - 10 bytes 10k - 10 KB 10m - 10 MB 1g - 1 GB
        </description>
        <param-name>uploadMaxFileSize</param-name>
        <param-value>5m</param-value>
      </init-param>
      <init-param>
        <description>
           Set the threshold size - files below this limit are stored in memory, 
           files above this limit are stored on disk. 
           Format: 10 - 10 bytes 10k - 10 KB 10m - 10 MB 1g - 1 GB
        </description>
        <param-name>uploadThresholdSize</param-name>
        <param-value>100k</param-value>
      </init-param>
    </filter>
    <filter-mapping>
      <filter-name>extensionsFilter</filter-name>
      <url-pattern>*.faces</url-pattern>
    </filter-mapping>
    
    <welcome-file-list>
      <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
