<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <!--
    <property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver"/>
    <property name="url" value="jdbc:derby://localhost:1527/AgendaEMail"/>
    <property name="username" value=""/>
    <property name="password" value=""/>
    -->
    
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost:3306/AgendaEMail"/>
    <property name="username" value="root"/>
    <property name="password" value=""/>
    
    <!--
    <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
    <property name="url" value="jdbc:sqlserver://localhost:1521;instanceName=JONATHAN\SQLEXPRESS;DatabaseName=AgendaEMail;"/>
    <property name="username" value="sa"/>
    <property name="password" value="muki.12"/>
    -->
  </bean>
 
  <bean id="adreseDao" class="adrese.dao.JdbcAdreseDAO">
    <property name="dataSource" ref="dataSource"/>
  </bean>
  
  <bean id="transactionManager" 
    class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource" />
  </bean>

</beans>
